.main {
    background-color: #3C5A65;
    padding: 20px;
    max-width: 170px;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {    
    background-color: #5F7783 !important;
    border: 2px solid #3C5A65;
    border-top: 4px solid #3C5A65;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#inpt {
    width: 100%;
}

.buton {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    
}

.buton1 {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #ed9435 !important;
    
}

.clr {
    width: 70px;
    height: 30px;
    
}

.clear {
    width: 40px;
    height: 30px;
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E495C;
}

.buton1:hover{
    background-color: #e0821d !important;
    cursor: pointer;
}

button:hover {    
    background-color: #546871 !important;
    border: 2px solid #3C5A65;
    border-top: 4px solid #3C5A65;
    cursor: pointer;
}