body{
    margin: 0px;
    background-color: rgb(18, 133, 240);
    display: flex;
    justify-content: center;
    align-self: center;
    /* border: 2px solid greenyellow; */
    height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 600px;
    height: 150px;
    border-radius: 3px;
    box-shadow: rgba(17, 17, 26, 0.169) 0px 0px 16px;
}

.width{
    width: 120px;
    /* border: 2px solid greenyellow; */
    text-align: center;
}

.button-div{
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 597px;
    /* border: 2px solid green; */
}

.big{
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    padding-top: 20px;
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 300px;
}

h1{
    font-size: 50px;
}

.button{
    font-size: 13px;
     margin-top: 40px;
    margin-bottom: 60px; 
}

.pau{
    background-color: rgb(38, 61, 113);
    color: white;
    border: 2px solid rgb(38, 61, 113);
    padding: 7px 25px;
    border-radius: 3px;
}


.sta{
    background-color: rgb(196, 31, 51);
    color: white;
    border: 2px solid rgb(196, 31, 51);
    padding: 7px 35px;
    border-radius: 3px;
}

.res{
    background-color: rgb(35, 177, 113);
    color: white;
    border: 2px solid rgb(35, 177, 113 );
    padding: 7px 25px;
    border-radius: 3px;
}
@media screen and (max-width: 1400px) {
    body{
        background-color: rgb(18, 133, 240);
        display: flex;
        justify-content: center;
        align-self: center;
        border: 2px solid greenyellow;
        height: 100vh;
    }
    
    
    h1{
        font-size: 30px;
    }
    .main{
        display: flex;
        justify-content: center;
        background-color: white;
        width: 450px;
        border-radius: 3px;
        box-shadow: rgba(17, 17, 26, 0.169) 0px 0px 16px;
    }
    
    .width{
        width: 120px;
        /* border: 2px solid greenyellow; */
        text-align: center;
    }
    
    .button-div{
        display: flex;
        justify-content: center;
        gap: 60px;
        width: 300px;
        /* border: 2px solid green; */
    }
    
    .big{
        padding-left: 20px;
        padding-right: 20px;
        width: 450px;
        padding-top: 20px;
        background-color: rgb(251, 251, 251);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
    }
    
    .button{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .pau{
        background-color: rgb(38, 61, 113);
        color: white;
        border: 2px solid rgb(38, 61, 113);
        padding: 7px 24px;
        border-radius: 3px;
    }
    
    
    .sta{
        background-color: rgb(196, 31, 51);
        color: white;
        border: 2px solid rgb(196, 31, 51);
        padding: 7px 27px;
        border-radius: 3px;
    }
    
    .res{
        background-color: rgb(35, 177, 113);
        color: white;
        border: 2px solid rgb(35, 177, 113 );
        padding: 5px 23px;
        border-radius: 3px;
    }
  }

@media screen and (max-width: 1058px) {
    body{
        background-color: rgb(18, 133, 240);
        display: flex;
        justify-content: center;
        align-self: center;
        border: 2px solid greenyellow;
        height: 100vh;
    }
    
    
    h1{
        font-size: 30px;
    }
    .main{
        display: flex;
        justify-content: center;
        background-color: white;
        width: 350px;
        border-radius: 3px;
        box-shadow: rgba(17, 17, 26, 0.169) 0px 0px 16px;
    }
    
    .width{
        width: 120px;
        /* border: 2px solid greenyellow; */
        text-align: center;
    }
    
    .button-div{
        display: flex;
        justify-content: center;
        gap: 60px;
        width: 300px;
        /* border: 2px solid green; */
    }
    
    .big{
        padding-left: 20px;
        padding-right: 20px;
        width: 350px;
        padding-top: 20px;
        background-color: rgb(251, 251, 251);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
    }
    
    .button{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .pau{
        background-color: rgb(38, 61, 113);
        color: white;
        border: 2px solid rgb(38, 61, 113);
        padding: 5px 20px;
        border-radius: 3px;
    }
    
    
    .sta{
        background-color: rgb(196, 31, 51);
        color: white;
        border: 2px solid rgb(196, 31, 51);
        padding: 5px 23px;
        border-radius: 3px;
    }
    
    .res{
        background-color: rgb(35, 177, 113);
        color: white;
        border: 2px solid rgb(35, 177, 113 );
        padding: 5px 19px;
        border-radius: 3px;
    }
  }